body {
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    list-style: none;
    display: none;
    margin: 1rem;
}

#hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#hamburger div {
    width: 22px;
    height: 2px;
    background-color: white;
    margin: 0.2rem 0;
}


/* Title on header */

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}

.title {
    color: white;
    font-family: "Fraunces", serif;
    text-align: center;
    text-wrap: balance;
    letter-spacing: 0.3rem;
    font-size: 2.3rem;
    z-index: -1;
}

.arrow-icon {
    width: 10%;
    z-index: -1;
}

.headerImg {
    width: 100%;
    display: block;
    position: relative;
    top: -5rem;
    z-index: -2;
}

.eggImg {
    width: 100%;
}

.navLinks a:link {
    text-decoration: none;
    color: hsl(232, 10%, 55%);
}

.navLinks a:last-child {
    background-color: hsl(51, 100%, 49%);
    align-self: center;
    width: 50%;
    padding: 1rem 1rem 1rem 1rem;
    color: black;
    font-family: "Fraunces", serif;
    border-radius: 2rem;
    font-size: 1rem;
}

.textBox {
    margin: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.textBox h2 {
    font-family: "Fraunces", serif;
    text-align: center;
    color: hsl(212, 27%, 19%);
    margin: 0 2rem 0 2rem;
}

.textBox p {
    text-align: center;
    font-family: "Barlow", serif;
    margin: 0 1rem 0 1rem;
    color: hsl(232, 10%, 55%);
    line-height: 1.7rem;
    font-weight: 500;
}

.textLink {
    color: hsl(212, 27%, 19%);
    text-decoration: none;
    font-family: "Fraunces", serif;
    font-weight: bold;
    padding: 0 0.5rem 0 0.5rem;
    background: no-repeat linear-gradient(
        to bottom, 
        transparent 70%, 
        #FEF4BA 50%

    );
    
}

.textLinkStandOut {
    color: hsl(212, 27%, 19%);
    text-decoration: none;
    font-family: "Fraunces", serif;
    font-weight: bold;
    padding: 0 0.5rem 0 0.5rem;
    background: no-repeat linear-gradient(
        to bottom, 
        transparent 70%, 
        #FFDCD3 50%
    );
}

.infoImg {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.grapicContainer, 
.photographyContainer {
    position: relative;
}

.grapicText,
.photoText {
    position: absolute;
    margin: 0 1rem 0 1rem;
    top: 68%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.6rem;
}

.grapicText h2 {
    color: #205247;
    font-family: "Fraunces", serif;
    margin: 0 2rem 0 2rem;
    font-weight: 800;
}

.grapicText p {
    color: #205247;
    font-family: "Barlow", serif;
    font-weight: 600;
    line-height: 1.3rem;
    font-size: 0.8rem;
    text-align: center;
}

.photoText h2 {
    color: #185770;
    font-family: "Fraunces", serif;
    margin: 0 2rem 0 2rem;
    font-weight: 800;
}

.photoText p {
    color: #185770;
    font-family: "Barlow", serif;
    font-weight: 600;
    line-height: 1.3rem;
    font-size: 0.8rem;
    text-align: center;
}

.clientContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    margin-top: 3rem;
}

.testimonialsTitle {
    font-family: "Fraunces", serif;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    color: hsl(210, 4%, 67%);
    text-align: center;
}

.personContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
}

.personContainer img {
    width: 3.5rem;
    border-radius: 2rem;
}

.personText {
    margin: 0.7rem 1rem 0 1rem;
    font-family: "Barlow", serif;
    font-weight: 600;
    line-height: 1.8rem;
    color: hsl(232, 10%, 55%);
}

.nameTag {
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: hsl(212, 27%, 19%);
    margin: 0 0 0.6rem 0;
}

.career {
    font-family: "Barlow", serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: hsl(210, 4%, 67%);
    margin: 0;
}

.imageGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
}

.imageGallery div img {
    width: 100%;
    display: block;
}

footer {
    background-color: #90D4C5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.footerLinks {
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    list-style: none;
    padding: 0;
    font-family: "Barlow", serif; 
    margin-top: 2rem;
    font-weight: 600;
}

.footerLinks a:link,
.footerLinks a:visited {
    text-decoration: none;
    color: hsl(168, 34%, 41%);
}

.iconContainer {
    display: flex;
    column-gap: 1.5rem;
    margin-top: 4rem;
}

.iconContainer img {
    width: 1rem;
    
}


/* Desktop media queries ----------------------------------> */
@media all and (min-width: 1024px) {

    #hamburger, 
    .triangle {
        display: none;
    }
  
    .main-nav-list {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        padding: 0;
    }

    .title {
        font-size: 5rem;
    }

    .arrow-icon {
        width: 5%;
        margin-top: 1rem;
    }

    
    /* Info grid --------------------------------> */
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0;
    }

    .textBox {
        align-items: normal;
        margin: 9rem 5rem 9rem 12rem;
        justify-content: center;
    }

    .textBox h2 {
        font-size: 3rem;
        text-align: left;
        margin: 0 7rem 0 0;
    }

    .textBox p {
        font-size: 1.1rem;
        text-align: left;
        margin: 0 11rem 0 0;
    }

    .eggImg {
        display: block;
    }

    .textLink, 
    .textLinkStandOut {
        width: 20%;
    }
   

   


    /* Info ------------------------------------> */
    .infoContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .testimonialsTitle {
        font-size: 1rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }


    /* Client ---------------------------------> */

    .clientContainer {
        flex-direction: row;
        
    }

    .imageGallery {
        grid-template-columns: repeat(4, 1fr);
    }

}